<p>all your tanks</p>
<% @tanks.each do |tank| %>
  <div class="tank-card">
    <%= tank.name  %>
    <%= tank.description  %>
    <br>
    <%= tank.price_per_day %> | <%= tank.capacity %>
    <%= link_to 'Edit', edit_tank_path(tank), class: "btn btn-outline-warning" %>
    <%= link_to 'Delete', your_tank_path(tank), class: "btn btn-outline-danger",
      method: :delete,
      data: { confirm: "Are you sure"} %> 
  </div>
<% end %>
<br>
<%= link_to "New Tank", new_tank_path(@tank), class: "btn btn-outline-success"  %>
<br>
<%= link_to "Dashboard", dashboard_path , class: "btn btn-outline-primary" %>
