<p><%= @user.email  %></p>

<h3>Your Total earnings (past & present) are: <%= @earnings  %>€</h3>


<div class="container", style="display: flex">
  <div class="container">
    <h2>Your <%= link_to "Tanks", tanks_path() %></h2>
    <% @tanks.each do |tank| %>
      <div class="tank-card">
        <%= tank.name  %>
        <%= tank.description  %>
        <br>
        <%= tank.price_per_day %> | <%= tank.capacity %>
      </div>
    <% end %>
  </div>

  <div class="container">
  <h2>My Bookings</h2>
  <% @bookings.each do |booking| %>
      <div class="booking-card container" >
        <p>From <%= booking.from_date  %> to <%= booking.to_date %></p>
        <% total_days = (booking.to_date - booking.from_date) %>
        <p>Total Days: <%= total_days.to_i %></p>
        <p>Tank: <%= link_to booking.tank.name, tank_path(booking.tank)  %></p>
        <p>Total Price: <%= (booking.tank.price_per_day * total_days).to_i  %> €</p>
        <p>Here is the booking Status</p>
        <p class="btn btn-danger"> Not yet implemented Button for Canceling</p>
      </div>
  <% end %>
  </div>
</div>

<h2>My tanks and their upcoming bookings (by other people)</h2>

<% @tanks.each do |tank| %>
  <div class="container">
  <h3><%= tank.name  %></h3>
  <% tank.bookings.each do |booking| %>
    <div class="booking-card container">
     <p>Who wants to rent: <%= booking.user.email %></p>
     <% total_days = (booking.to_date - booking.from_date) %>
     <p>For <%= total_days.to_i %> Days and <%= (booking.tank.price_per_day * total_days).to_i %> €</p> 
     <p>Between <%= booking.from_date  %> and <%= booking.to_date  %></p>
    </div>
  <% end %>
  </div>


<% end %>