<div class="">

    <div class="tank-card">
      <%= @tank.name  %>
      <%= @tank.description  %>
      <br>
      <%= @tank.price_per_day %>
      <%= @tank.weight_in_kg %>
      <%= @tank.manufacturer %>
      <%= @tank.capacity %>
    </div>
    <% @tank.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
</div>
  <% if @tank.user == current_user %>
    <%= link_to 'Edit', edit_tank_path(@tank), class: "btn btn-outline-warning" %>
    <%= link_to 'Delete', tank_path(@tank), class: "btn btn-outline-danger",
          method: :delete,
          data: { confirm: "Are you sure"} %>
  <% else %>
    <%= link_to 'Book this tank', new_tank_booking_path(@tank), class: "btn btn-outline-warning" %>
  <% end %>


