<div class="container">
  <div class="p-5 bg-light">
    <div class="tank-card">
      <h2 class="tank-page"><%= @tank.name  %></h2>
    </div>
    <div class="tank-page-img">
      <% @tank.photos.each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
    </div>
    <div class="text-center">
      <%= @tank.description  %>
      <br><br>
      <p>PRICE PER DAY:<br><%= @tank.price_per_day %></p>
      <p>WEIGHT:<br><%= @tank.weight_in_kg %></p>
      <p>MANUFACTURER:<br><%= @tank.manufacturer %></p>
      <p>CAPACITY:<br><%= @tank.capacity %></p>

    </div>
    <div class="container px-5">
        <% if @tank.user == current_user %>
        <div class="row px-3 tank-page-btn">
          <div class="mx-3">
          <%= link_to 'Edit', edit_tank_path(@tank), class: "btn btn-outline-warning" %>
          </div>
          <div class="mx-3">
          <%= link_to 'Delete',  your_tank_path(@tank), class: "btn btn-outline-danger",
                method: :delete,
                data: { confirm: "Are you sure"} %>
          </div>
        </div>
        <% else %>
          <div class="tank-page tank-page-btn">
            <%= link_to 'Book this tank', new_tank_booking_path(@tank), class: "btn btn-outline-warning" %>
          </div>
        <% end %>
    </div>
  </div>
</div>



