<!-- HEADER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url(https://i.ytimg.com/vi/TIyqEwNgqVk/maxresdefault.jpg);">
  <div class="container">
    <h1>Find your Tank</h1>
    <p>Pimp your warcrime: Tanks for rent across the globe</p>
    <a class="btn btn-flat" href="#">Find Tank</a>
  </div>
</div>
<!-- HEADER END -->

<!-- Tanks-->
<div class="">
  <% Tank.all.each do |tank| %>
    <div class="tank-card">
      <%= tank.name  %>
      <%= tank.description  %>
      <br>
      <%= tank.price_per_day %> | <%= tank.capacity %>
      <%= link_to 'Look at this tank', tank_path(tank), class: "btn btn-outline-warning" %>
    </div>
  <% end %>
</div>


<!-- FOOTER -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
<!-- FOOTER END -->
