<!-- HEADER -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)), url(https://i.ytimg.com/vi/TIyqEwNgqVk/maxresdefault.jpg);">
  <div class="container">
    <h1>Find your Tank</h1>
    <p>Pimp your warcrime: Tanks for rent across the globe</p>
    <a class="btn btn-flat" href="#">Find Tank</a>
  </div>
</div>
<!-- HEADER END -->
<%= render "search", tanks: @tanks %>
<!-- Tanks-->
<div class="px-5 pt-5">
  <div class="row px-5 pb-5 justify-content-around">
    <% Tank.all.each do |tank| %>
      <div class="pb-5">
          <div class="col-12 col-xl-3 col-lg-4 clo-md-6">
          <%= link_to tank_path(tank), class: "tank-link" do %>
            <div class="card-tank">
              <% if tank.photos.present? %>
                <%= cl_image_tag tank.photos.first.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= cl_image_tag 'tank1_xkesh5', height: 300, width: 400, crop: :fill %>
              <% end %>


                <div class="d-flex justify-content-around text-align-center">
                  <div class="p-2 flex-fill text-align-center">
                    <p>MODEL</p>
                    <p><%= tank.name %></p>
                  </div>

                  <div class="p-2 flex-fill text-align-center">
                    <p>CAPACITY</p>
                    <p><%= tank.capacity %></p>
                  </div>

                  <div class="p-2 flex-fill text-align-center">
                    <p>price/day</p>
                    <h2 class="card-tank-pricing"><%= tank.price_per_day %>€</h2>
                  </div>
                  <br>
                </div>



            </div>
          <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>


<!-- FOOTER -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    If you have a big <i class="fas fa-heart"></i> visit <%= link_to "/", class: "navbar-brand" do %> long-term-giving<% end %>
  </div>
</div>
<!-- FOOTER END -->
